{% extends 'base.html.twig' %}

{% block body %}
    <div class="uk-padding">
        <h1>Visit #{{ visit.id }}</h1>
        <dl class="uk-description-list uk-description-list-divider">
            <dt>Action</dt>
            <dd>{{ visit.fullAction }}</dd>
            <dt>Occurred at</dt>
            <dd>{{ visit.occurredAt|localizeddate }}</dd>
            {% if visit.language is not null %}
                <dt>Language</dt>
                <dd>{{ visit.language }}</dd>
            {% endif %}
            <dt>Device used</dt>
            <dd>
                {{ visit.device }}
            </dd>
            {% if visit.screenSize is not null %}
                <dt>Screen size</dt>
                <dd>{{ visit.screenSize }}</dd>
            {% endif %}
            <dt>User-Agent</dt>
            <dd>
                {% if visit.browser %}
                    {{ visit.browser.browser }} {{ visit.browser.version }} by {{ visit.browser.browser_maker }} for {{ visit.browser.platform }}
                {% else %}
                    {{ visit.userAgent }}
                {% endif %}
            </dd>
            {% if visit.visitor.internalId is not null %}
                <dt>Visitor</dt>
                <dd>
                    <a href="{{ path('visitor', {'id': visit.visitor.id}) }}">{{ visit.visitor.internalId }}</a>
                </dd>
            {% endif %}
            {% if visit.geolocation.country is not null %}
                <dt>Location</dt>
                <dd>{{ visit.geolocation.country }} {{ visit.geolocation.region }} {{ visit.geolocation.city }}</dd>
                <dt>Time zone</dt>
                <dd>{{ visit.geolocation.timezone }}</dd>
            {% endif %}
        </dl>
    </div>
{% endblock %}

